/*==================
　button
====================*/
.button-wrap {
    display: block;
    width: 300px;
    height: 1.6rem;
    margin: 150px auto;
}
.button {
    display: block;
    width: 300px;
    line-height: 2.75em;
    border: 3px solid #222;
    box-sizing: border-box;
    cursor: pointer;
}
.ripple {
    /* エフェクトに直接関係はない */
    /*margin: 20px;
    background-color: #f7f7f7;
    height: 100px;
    width: 200px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;*/

    cursor: pointer;

    /* 必須 */
    /*overflow: hidden;*/
    position: relative;
}
/* エフェクト要素 */
.ripple__effect {
    /* 値の変更はエフェクト形体・サイズ・スピードに影響する */
    width: 150px;
    height: 150px;
    /*width: 450px;*/
    /*height: 450px;*/

    /* 必須 */
    position: absolute;
    border-radius: 100%;
    pointer-events: none;
    transform: scale(0);
    opacity: 0;
}
.ripple__effect.is-orange { background: #f1c40f;}
.ripple__effect.is-blue   { background: #4aa3df;}
.ripple__effect.is-black  { background: #999;}
.ripple__effect.is-purple  { background: #E1BEE7;}

.ripple__effect.is-palerainbow-horizontal {
    background: #f5b090;
    background: -moz-linear-gradient(left,  #f5b090 0%, #fcd7a1 17%, #fff9b1 33%, #a5d4ad 50%, #a3bce2 66%, #a59aca 83%, #cfa7cd 100%);
    background: -webkit-linear-gradient(left,  #f5b090 0%,#fcd7a1 17%,#fff9b1 33%,#a5d4ad 50%,#a3bce2 66%,#a59aca 83%,#cfa7cd 100%);
    background: linear-gradient(to right,  #f5b090 0%,#fcd7a1 17%,#fff9b1 33%,#a5d4ad 50%,#a3bce2 66%,#a59aca 83%,#cfa7cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b090', endColorstr='#cfa7cd',GradientType=1 );
}

.ripple__effect.is-palerainbow-vartical {
    background: #f5b090;
    background: -moz-linear-gradient(top,  #f5b090 0%, #fcd7a1 17%, #fff9b1 33%, #a5d4ad 50%, #a3bce2 66%, #a59aca 83%, #cfa7cd 100%);
    background: -webkit-linear-gradient(top,  #f5b090 0%,#fcd7a1 17%,#fff9b1 33%,#a5d4ad 50%,#a3bce2 66%,#a59aca 83%,#cfa7cd 100%);
    background: linear-gradient(to bottom,  #f5b090 0%,#fcd7a1 17%,#fff9b1 33%,#a5d4ad 50%,#a3bce2 66%,#a59aca 83%,#cfa7cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b090', endColorstr='#cfa7cd',GradientType=0 );
}

.ripple__effect.is-palerainbow {
    background: #f5b090;
    background: -moz-radial-gradient(center, ellipse cover,  #f5b090 0%, #fcd7a1 17%, #fff9b1 33%, #a5d4ad 50%, #a3bce2 66%, #a59aca 83%, #cfa7cd 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #f5b090 0%,#fcd7a1 17%,#fff9b1 33%,#a5d4ad 50%,#a3bce2 66%,#a59aca 83%,#cfa7cd 100%);
    background: radial-gradient(ellipse at center,  #f5b090 0%,#fcd7a1 17%,#fff9b1 33%,#a5d4ad 50%,#a3bce2 66%,#a59aca 83%,#cfa7cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b090', endColorstr='#cfa7cd',GradientType=1 );
}

.ripple__effect.is-black-transparent {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

.ripple__effect.is-white-transparent {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.effect-purple-border {
    border: 8px solid #AB47BC;
}

/* classが付与されたらアニメーションを実行 */
.ripple__effect.is-show {
    animation: ripple 0.75s ease-out;
}

.ripple__effect.effect-purple-border.is-show {
    animation: ripple_s 1.5s ease-out;
}

/* アニメーションの定義 */
@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple_s {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
